
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}
button{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
h1,h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 26px;
}
.a300-15{
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}
.a400-16{
    font-weight: 400;
    font-size: 16px;
}
.a400-18{
    font-weight: 400;
    font-size: 18px;
}
.a400-20{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.a400-22{
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}
.a700-16{
    font-weight: 700;
    font-size: 16px;
}
.a700-22{
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}
.mother{
    width: 576px;
    background-color: #EEEEEE;
    padding: 92px 0;
    margin: 0 auto 16px auto;
    position: relative;    
}
.header, .base{
    max-width: 576px;
    position: fixed;
}
.header{
    width: 100%;    
    height: 92px;
    box-sizing: border-box;
    padding: 8px 0 0 21px;
    background-color: #CF2B2B;
    color: #FFFFFF;
    margin-bottom: 4px;
    top: 0;
    z-index: 1;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.camada{
    margin: 27px 0 0 19px;
}
.prato, .bebida, .sobremesa{
    display: flex;
    overflow-x: scroll;
}
.item{
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    box-sizing: border-box;
    padding: 14px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    margin-top: 17px;
    margin-right: 16px;    
    position: relative;
    cursor: pointer;
}
.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-right: 14px;    
}
.base{
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;    
    bottom: 0;    
    display: flex;
}
.fechar-pedido{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    margin: auto;
    background-color: #cbcbcb;   
    border: none;
    cursor: initial;
}
.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.check{
    display: none;        
    position: absolute;   
    right: 11px;
    bottom: 9px;
}
.check ion-icon{    
    color: #32B72F;    
    font-size: 19px;    
}
.selecionado .check {
    display: initial;
}
.preco{
    display: flex;
    justify-content: space-between;    
    height: 19px;
    margin-bottom: -2px;
}
.habilitado{
    background-color: #32B72F;
    cursor: pointer;
}
.fundoFecharPedido{
    position: absolute;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;    
}
.confirmarPedido{
    position: absolute;
    z-index: 3;
    background-color: #50d074;    
    height: 353px;
    width: 80%;    
    box-sizing: border-box;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);      
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    display: none;
}
.confirmacao{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
}
.botaoTudoCerto, .botaoCancelar{
    width: 329px;
    height: 52px;
    border: none;
    font-weight: 700;
}
.botaoTudoCerto{
    background: #FFFFFF;    
    border-radius: 100px;    
}
.botaoTudoCerto p{
    color: #50d074;    
    font-size: 22px;
}
.botaoCancelar{
    background: #50d074;
}
.botaoCancelar p{    
    font-size: 20px;
    color: #FFFFFF;
}
.habilitar{
    display: flex;
}

